{% extends "webapp/navbar.html" %}
{% load static %}
<!-- This page now imports the navbar from the template... -->
{% block head %}
{% endblock head %}

<!--    city = models.CharField(max_length = 200)
    concertName = models.CharField(max_length=200)
    artists = ArrayField(models.CharField(max_length=200), blank = True,size = 80)
    venue = models.CharField(max_length = 200)
    venueWebsite = models.CharField(max_length = 200)
    startingTime = models.CharField(max_length = 200)
    date = models.CharField(max_length = 200)
    headliner = models.CharField(max_length = 200,default = 'N/A') -->

{% block body %}
    <div class = "concert_div">
       <h3 class = "artist_name"> {{concert.concertName}} </h3> 
	   <div class = "event_div">
            <br><br><br>
            <img src ="{{concert.imageURL}}" alt="Headliner Image">
        </div>
        <div class = "event_div">
            <ul type="1" class="list group list-group-flush">
                <li class="list-group-item d-flex align-items-left">
                    <p><b>Event headliner:</b><br>  <a href="../../artists/{{concert.headliner}}">{{concert.headliner}}</a></p>
                </li>
                <li class="list-group-item d-flex align-items-left">
                    <p><b>Event date:</b><br>  {{concert.date}}</p>
                </li>
                <li class="list-group-item d-flex align-items-start">
                    <p><b>Event time:</b><br> {{concert.startingTime}}</p> 
                </li>
                <li class="list-group-item d-flex align-items-start">
                    {% if venue_name != "" %} <!-- Venue link found, bring to instance page -->
                        <p><b>Venue:</b><br><a href="../../venues/{{venue_name}}"> {{concert.venue}}</a></p>
                    {% else %} <!-- Couldn't find venue link, just bring to grid page -->
                        <p><b>Venue:</b><br><a href="../../venues"> {{concert.venue}}</a></p>
                    {% endif %}</a></span>
                </li>
                <li class="list-group-item d-flex align-items-start">
                    <p> <a href= "{{concert.venueWebsite}}">Venue Website</a></p>
                </li>
            </ul>   
       </div>
    </div>
{% endblock body %}
