{% extends "webapp/navbar.html" %}
{% load static %}
{% load tags %}
<!-- This page now imports the navbar from the template... -->
{% block head %}
{% endblock head %}

{% block body %}
    <div class="container-fluid text-body px-0">
        <div class="card p-2" style="border-radius: 0px;">
            <div class="row">
                <div class="col-5 text-left"> <!-- Filtering -->
                    <form class="form-inline" name="filterFormGenre" action="" method="get">
                        <select class="form-control form-dropdown btn-warning p-1" name="date"> 
                            <option selected disabled>Filter by week</option>
                           <option value = "01">This week</option>
                           <option value = "02">Next week</option>
                           <option value = "03">In two weeks</option>
                           <option value = "04">In three weeks</option>
                           <option value = "05">In four weeks</option>
                        </select>
                        <select class="form-control form-dropdown btn-warning p-1" name="time">
                            <option selected disabled>Starting Time</option> 
                            <option value = "18:00:00">6:00</option>
                            <option value = "19:00:00">7:00</option>
                            <option value = "20:00:00">8:00</option>
                            <option value = "21:00:00">9:00</option>
                        </select>
                        <input class="form-control btn-warning p-1 ml-1" type="submit" value="Apply">
                    </form>  
                </div> <!-- End Filtering -->
                <div class="col-2">
                    <button class="btn-warning form-reset form-control" onclick="window.location.href ={% url 'webapp-concerts' %}">Reset</button>
                </div>
                <div class ="col-5 text-right">
                    <form class="form-inline" name="artist-sort" action="" method="get">
                        <select class="form-control form-dropdown btn-warning p-1" name="sort-select-concert">
                            <option selected disabled>Sort Page By</option>
                            <option>Concert Name (A-Z)</option>
                            <option>Concert Name (Z-A)</option>
                            <option>Venue Name (A-Z)</option>
                            <option>Venue Name (Z-A)</option>
                        </select>
                        <input class="form-control btn-warning p-1 ml-1" type="submit" value="Apply">
                    </form>
                </div>
             </div>
         </div>
    </div>
    <div class="container-fluid">
        <h1 class="pt-5 pb-5 text-center font-weight-bold display-3">{{model_name}}</h1> <!-- Pass in model_name during context and it will display! -->

        <!-- Start of instance cards -->
        <div class="row mr-2 ml-2">
            {% for instance in concerts %}
                <div class="col-4 mb-4">
                    <a href="{{instance.concertName}}">
                    <div class="card text-body h-100">
                        <div class="card-header font-weight-bold display text-center">
                            <!-- Insert the link to the instance here? -->
                            {{ instance.concertName }}
                        </div>
                        <!-- Instance Image, still need to figure out how to handle this... -->
                        <img class="card-img" style="height: 400px;" src="{{ instance.imageURL}}" alt= {{ instance.imageLink }}>
                        <!-- At least 3 attributes -->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-start">
                                <span><b>Date:  </b> {{ instance.date }}</span>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <span><b>Headliner:  </b> 
                                        {{ instance.headliner }}
                                </span>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <span><b>City:</b> {{ instance.city }}</span>
                            </li>
                        </ul>
                    </div> <!-- End of card -->
                    </a>
                </div> <!-- End of Col Div -->
            {% endfor %}
        </div> <!-- End of the row div -->
        <!-- END OF THE GRID -->

        <!-- Search, filter and pagination features go here -->
        <div class="card-footer text-muted mx-5">
            <div class="pagination justify-content-center">
                {% if concerts.has_previous %}
                    <a class="page-link" href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
                    <a class="page-link" href="?{% url_replace request 'page' concerts.previous_page_number %}">previous</a>
                {% endif %}

                {% if concerts.has_next %}
                    <a class="page-link" href="?{% url_replace request 'page' concerts.next_page_number %}">next</a>
                    <a class="page-link" href="?{% url_replace request 'page' concerts.paginator.num_pages %}">last &raquo;</a>
                {% endif %}
                <br>
                <p class="current ml-5">
                       Page {{ concerts.number }} of {{ concerts.paginator.num_pages }}.
                </p>
            </div>
        </div>
    </div> <!--End of fluid container -->
{% endblock body %}
